<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		This splurty application was built by Jackie, an aspiring web developer. Splurty was the first application she built with The Firehose Project.
	</p>

	<p>
		If you want to learn how to code - start <a target="blank" href="http://www.thefirehoseproject.com/"> here</a>
	</p>

	<br class="clear" />

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'me_bali_hike.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Jackie Mundrawala</h2>
		<br />
		<p>
			Jackie is an aspiring web developer. Currently she is employed as a Data Analyst. When she's not hacking, Jackie enjoys traveling and experiencing new things.
		</p>
	</div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />